<import rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="curtissimo-calender">
  <template>
    <style>
      :host {
        overflow: auto;
      }
    </style>

    <h1>Appointments</h1>
    <div>{{appointments.length}}</div>
    <button on-tap="add">Add</button>
    <button id="clear" on-tap="clear" disabled>Clear</button>
    <template is="dom-repeat" items="{{appointments}}">
      <h2>{{item.title}}</h2>
    </template>
  </template>
  <script>
    Polymer({
      is: 'curtissimo-calender',

      properties: {
        appointments: {
          type: Array,
          value: [],
          readOnly: false,
          notify: true
        }
      },

      observers: [
        '_appointmentsChanged(appointments.length)'
      ],

      _appointmentsChanged: function () {
        this.$.clear.disabled = !(this.appointments || []).length;
      },

      clear: function () {
        this.splice('appointments', 0, this.appointments.length);
      },

      add: function () {
        if (!this.appointments) {
          this.appointments = [];
        }
        this.push('appointments', {title: 'hello, dolly!'});
      }
    })
  </script>
</dom-module>
