/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/assets/roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/assets/roboto-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.calendar-holder {
  flex: 0 0 320px;
  box-shadow: 1px 0 1px 0 black;
  position: relative;
  z-index: 2;
}

#calendar {
  height: 320px;
  width: 300vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#calendar > .month {
  display: inline-block;
  position: relative;
  width: 100vw;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  overflow: hidden;
}

#calendar .day-container {
  height: 100%;
  background-color: white;
}

#calendar .day-container > :first-child {
  border-left: 1px inset #D32F2F;
}

.saturday,
.sunday {
  background-color: #C5CAE9;
}

#calendar > .day-30 > .day-container > .day,
#calendar > .day-31 > .day-container > .day {
  box-sizing: border-box;
  text-align: center;
  position: relative;
  border-right: 1px solid #ECEFF1;
}

#calendar > .day-30 > .day-container > .day {
  flex-basis: 3.33333333333333vw;
}

#calendar > .day-31 > .day-container > .day {
  flex-basis: 3.2258064516129vw;
}

#calendar > .day-30 > .day-container > .day > .appt {
  width: 3.33333333333333vw;
}

#calendar > .day-31 > .day-container > .day > .appt {
  width: 3.2258064516129vw;
}

#calendar > .month > header {
  position: absolute;
  bottom: 0;
  left: 10px;
  color: rgba(62, 39, 35, .1);
  font-size: 100px;
  font-weight: 700;
  z-index: 1;
}

.today {
  background-color: #FFF59D;
}

.selected {
  background-color: #FFEB3B;
}

.day-1:before {
  content: "1";
}

.day-2:before {
  content: "2";
}

.day > .appt {
  position: absolute;
  color: white;
}

.day > .appt:nth-child(2n) {
  background-color: rgba(62, 39, 35, .75);
}

.day > .appt:nth-child(2n + 1) {
  background-color: rgba(239, 108, 0, .75);
}

.a8 {
  top: 40px;
}

.a9 {
  top: 60px;
}

.a10 {
  top: 80px;
}

.a15 {
  top: 180px;
}

.a20 {
  top: 280px;
}

.h0-25 {
  height: 5px;
}

.h0-5 {
  height: 10px;
}

.h1 {
  height: 20px;
}

.h3 {
  height: 60px;
}

.timeline-entry {
  font-size: 14px;
  position: absolute;
  height: 96%;
  z-index: 1;
  top: 8px;
  left: 0;
  border-radius: 8px;
  padding: 1em;
  box-sizing: border-box;
}

.dh1 {
  width: 240px;
}

.dh0-5 {
  width: 120px;
}

.dh0-25 {
  width: 60px;
  font-size: 12px;
}

.odd-appt {
  color: black;
  background-color: #F38C0F;
}

.even-appt {
  background-color: #6E5829;
  color: white;
}

#appointments header {
  padding: 0 .25em;
  line-height: 45px;
  font-size: 30px;
  height: 45px;
  background-color: #FFCDD2;
}

.overflow-horizontal {
  overflow-x: auto;
  overflow-y: hidden;
}

.overflow-vertical {
  overflow-y: auto;
  overflow-x: hidden;
}

#timeline-container {
  position: relative;
  background-color: white;
}

#timeline-header {
  font-size: 10px;
}

#timeline-entries > div,
#timeline-header > div {
  display: inline-block;
  flex: 0 0 60px;
  text-align: center;
  border-right: 1px solid #ECEFF1;
  box-sizing: border-box;
  color: #D7CCC8;
  position: relative;
}

#timeline-header .hour {
  font-weight: 700;
  color: inherit;
}

html, body {
  font-family: Roboto;
  font-size: 16px;
  color: #3E2723;
  background-color: #ECEFF1;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

body > header {
  background-color: #D32F2F;
  color: white;
}

header h1 {
  padding: 0 .25em;
  line-height: 20px;
  font-size: 40px;
}

footer {
  font-size: 10px;
  background-color: #D32F2F;
  color: white;
  padding: .5em;
}

footer a {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted white;
}
